.__carrossel-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .__carrossel-img-container {
    /*width: 100%;*/
    /*height: inherit;*/
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*border: 1px solid blue;*/
    /*padding: 20px 20px 20px 20px ;*/
     /*max-width: 9000px;*/
    
  }
  
  .__carrossel-img {
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
  .__carrossel-move-left {
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    background: pink;
    
  }
  
  .__carrossel-move-right {
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: pink;
    text-align: center;
  }